<!-- contact.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Contact Us{% endblock %}
{% block content %}
<div class="container">
    <h3 style="color: #FFF; font-family: Arial, Helvetica, sans-serif; font-weight: bold; margin-top: 5%; text-align: center; font-size: 35px; color: blue;">Contact Us</h3>
    <p style="color: orangered; text-align: center; text-align: justify;">If you have any questions or need further information, please feel free to reach out to us through the following channels; ChairPerson, Vice ChairPerson, General Secretary. And join our Social Media Groups ie
        Whatsapp and FaceBook for more connections with others as well as friendship and communication is concern.
    </p>
    <div class="row m-5">
        <div class="col-md-5">
            <div class="circle" style="padding: 10px;">
                <img src="{% static 'phil.jpg' %}" class="img-fluid" style="border-radius: 10px; box-shadow: 0px 0px 10px 0px maroon;">
            </div>
        </div>
        <div class="col-md-7">
            <h4 style="font-weight: bold; color: blueviolet;">CHAIRPERSON</h4>
            <hr style="color: maroon;">
            <p style="text-align: justify;">Mr Openjmungu Philliam, ChairPerson of Panyango SS Ob's and Og's Association. The Association often aim to maintain connections between former students and the school, support various initiatives such as fundraising, mentorship programs, and organizing events.
                Am playing a pivotal role in setting the vision, overseeing activities, and ensuring that the association meets its objectives
                by working closely with other Executives and the School Board Members to develop strategies, engage alumni, and foster a sense of community and support for the beterment of the school as well as the Association.<br><br>
                For more Informations about the Associations, you can reach me on;
                <ul style="color: rgb(131, 15, 240); font-weight: bold;">
                    <li>Contact:</li>
                    <li>FaceBook:</li>
                    <li>Email:</li>
                    <li>Whatsapp:</li>
                </ul>

            </p>
        </div>
    </div>
    <div class="row m-5">
      <div class="col-md-5">
          <div class="circle" style="padding: 10px;">
              <img src="{% static 'vice1.jpg' %}" class="img-fluid" style="border-radius: 10px; box-shadow: 0px 0px 10px 0px maroon;">
          </div>
      </div>
      <div class="col-md-7">
          <h4 style="font-weight: bold; color:  blueviolet;">VICE CHAIRPERSON</h4>
          <hr style="background: maroon;">
          <p style="text-align: justify;">Ms Yonikane Sharon, Vice Charperson of the Association. Responsible for supporting the chairperson and providing leadership to the association, these
            includes, assisting in planning and executing Association programs, attending Board Meetings, and serving as an ambassador for the Association, encouraging alumni engagement and participations.<br><br>
            Reach me out on the followings, for more information about the Association;
            <ul style="color: rgb(131, 15, 240); font-weight: bold;">
                <li>Contact:</li>
                <li>FaceBook:</li>
                <li>Email:</li>
                <li>Whatsapp:</li>
            </ul>

          </p>
      </div>
  </div>
  <div class="row m-5">
    <div class="col-md-5">
        <div class="circle" style="padding: 10px;">
            <img src="{% static 'gs.jpg' %}" class="img-fluid" style="border-radius: 10px; box-shadow: 0px 0px 10px 0px maroon;">
        </div>
    </div>
    <div class="col-md-7">
        <h4 style="font-weight: bold; color:  blueviolet;">GENERAL SECRETARY</h4>
        <hr style="background: maroon;">
        <p style="text-align: justify;">Mr Mungu Jakisha Brian, General Secretary of the Association. Tasked with maintaining the organization's records, overseeing communication among members, and ensuring the smooth execution of meetings and events.
            Roles of coordinating activities, disseminating information, and managing the association's documentation and correspondence.
            Working closely with other executive members to implement the association's objectives and foster engagement within the alumni community.
           <br><br> For more information about the Association you can reach me on the followings;
            <ul style="color: rgb(131, 15, 240); font-weight: bold;">
                <li>Contact:</li>
                <li>FaceBook:</li>
                <li>Email:</li>
                <li>Whatsapp:</li>
            </ul>

        </p>
    </div>
</div>
</div>

<section>
    <!-----footer-->
    <div class="footer" style="padding: 20px;">
        <div class="innerfooter" style="padding: 20px; background: maroon; color: #fff;">
            <div class="row">
                <div class="col-md-4">
                    <div class="fbox" style="border-right: 1px solid #fff;">
                        <h1 style="font-size: 20px; color: orange">The School's Administration</h1>
                        <ul style="color: rgb(26, 218, 231);">
                            <li>Headteacher: Rev.Fr.Charles Ohuru</li>
                            <li>Deputy Headteacher:</li>
                            <li>Director of Studies</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="fbox" style="border-right: 1px solid #fff;">
                     <h1 style="font-size: 20px; color: orange;">OB'S & OG'S Executives</h1></u>
                        <ul style="color: rgb(26, 218, 231);">
                         <li>ChairPerson: Mr Openjmungu Philliam</li>
                         <li>Vice ChairPerson: Ms Yonikane Sharon</li>
                        <li>General Secretary: Mr Mungu Jakisha Brian</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="fbox" style="border-right: 1px solid #fff;">
                    <h1 style="font-size: 20px; color: orange;">Website Developer</h1>
                     <h1 style="font-size: 15px; color: rgb(26, 218, 231);;"><img src="{% static 'whatsap.jpg' %}" class="img-fluid rounded-start" alt="whatsap" style="width: 15px; height: 15px;">+256 780148847</h1>
                    <h1 style="font-size: 15px; color: rgb(26, 218, 231);;"><img src="{% static 'call.jpg' %}" class="img-fluid rounded-start" alt="call" style="width: 15px; height: 15px;">+256 763764365/+256 707383183</h1>
                    <h1 style="font-size: 15px; color: rgb(26, 218, 231);;"><img src="{% static 'email.jpg' %}" class="img-fluid rounded-start" alt="email" style="width: 15px; height: 15px;">rwothongeojulius052@gmail.com</h1>
                </div>


            </div>

         </div>

     </div>

 </div>
</section>
{% endblock %}
