{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <title>
        {% block title %}
        Faq
        {% endblock %}
    </title>
</head>
<body>
    {% block content %}
    <div class="container">
        <h3 style="color: #FFF; font-family: Arial, Helvetica, sans-serif; font-weight: bold; margin-top: 5%; text-align: center; font-size: 35px; color: blue;">Frequently Asked Questions (FAQs)</h3>
        <p style="text-align: center; text-align: justify; color: orangered;">This FAQ will help provide a comprehensive understanding of the Panyango SS OB's and OG's Association, its objectives, activities, and how alumni and other interested individuals can get involved.</p>
        <div class="col-md-25" >
            <h4 style="font-weight: bold; color: maroon;">General Information</h4>
            <ol>
                <li style="font-weight: bold;">What is Panyango SS OB's and OG's Association?</li>
                <p style="text-align: justify;">Panyango SS OB's and OG's Association is an alumni organization for former students of Panyango Secondary School. It aims to foster a sense of community among alumni, support current students, and contribute to the development of the school.</p>
                <li style="font-weight: bold;">What are the main objectives of the association?</li>
                <p style="text-align: justify;">The main objectives include networking and community building among alumni, providing support for current students through scholarships and mentorship, funding school development projects, and preserving the school's traditions and history.</p>

            </ol>
            <h4 style="font-weight: bold; color: maroon;">Membership</h4>
            <ol>
                <li style="font-weight: bold;">Who can join the association?</li>
                <p style="text-align: justify;">Membership is open to all former students of Panyango Secondary School, regardless of their year of graduation.</p>
                <li style="font-weight: bold;">How do I become a member?</li>
                <p style="text-align: justify;">You can become a member by filling out a membership form available on the association’s website or at school events. There may be a nominal membership fee.</p>
                <li style="font-weight: bold;">What are the benefits of being a member?</li>
                <p style="text-align: justify;">Benefits include networking opportunities, access to exclusive events, the chance to participate in mentorship programs, and the ability to contribute to the growth and development of Panyango Secondary School.</p>
                
            </ol>
            <h4 style="font-weight: bold; color: maroon;">Activities and Initiatives</h4>
            <ol>
                <li style="font-weight: bold;">What kind of events does the association organize?</li>
                <p style="text-align: justify;">The association organizes reunions, social events, fundraising campaigns, mentorship programs, and community service projects.</p>
                <li style="font-weight: bold;">How does the association support current students?</li>
                <p style="text-align: justify;">The association supports current students through scholarships, financial aid, and mentorship programs, helping them with academic and personal development.</p>
                <li style="font-weight: bold;">What types of fundraising activities are conducted?</li>
                <p style="text-align: justify;"> Fundraising activities include donation drives, charity events, and online campaigns to raise funds for school infrastructure projects, educational materials, and student scholarships.</p>
            </ol>
            <h4 style="font-weight: bold; color: maroon;">Contributions and Volunteering</h4>
            <ol>
                <li style="font-weight: bold;"> How can I contribute to the association's efforts?</li>
                <p style="text-align: justify;">You can contribute by donating funds, volunteering for mentorship programs, participating in fundraising events, and offering your expertise to help with the association’s projects.</p>
                <li style="font-weight: bold;">Can I volunteer if I am not a member?</li>
                <p style="text-align: justify;">Yes, non-members can also volunteer and contribute to various activities and initiatives. However, becoming a member provides additional benefits and opportunities for involvement.</p>
            </ol>
            <h4 style="font-weight: bold; color: maroon;">Communication and Updates</h4>
            <ol>
                <li style="font-weight: bold;">How does the association communicate with its members?</li>
                <p style="text-align: justify;">The association communicates through its website, social media platforms, newsletters, and emails to keep members informed about upcoming events, news, and opportunities.</p>
                <li style="font-weight: bold;">How can I stay updated on the association’s activities?</li>
                <p style="text-align: justify;">To stay updated, you can follow the association on social media, subscribe to the newsletter, and regularly check the association’s website for announcements and updates.</p>
            </ol>
            <h4 style="font-weight: bold; color: maroon;">Impact and Achievements</h4>
            <ol>
                <li style="font-weight: bold;">What impact has the association had on the school and students?</li>
                <p style="text-align: justify;">The association has provided scholarships, improved school infrastructure, offered mentorship, and created a strong alumni network, all contributing to the success and well-being of students and the school.</p>
                <li style="font-weight: bold;">How are the funds raised by the association used?</li>
                <p style="text-align: justify;">Funds are used for scholarships, school infrastructure projects, educational resources, and various student support programs.</p>
            </ol>
            <h4 style="font-weight: bold; color: maroon;">Contact and Further Information</h4>
            <ol>
                <li style="font-weight: bold;">How can I contact the association for more information?</li>
                <p style="text-align: justify;">You can contact the association through their official website’s contact form, email, or social media pages. Contact details are usually provided on the association’s website.</p>
            </ol>
    </div>
    </div>
    <section>
        <!-----footer-->
        <div class="footer" style="padding: 20px;">
            <div class="innerfooter" style="padding: 20px; background: maroon; color: #fff;">
                <div class="row">
                    <div class="col-md-4">
                        <div class="fbox" style="border-right: 1px solid #fff;">
                            <h1 style="font-size: 20px; color: orange">The School's Administration</h1>
                            <ul style="color: rgb(26, 218, 231);">
                                <li>Headteacher: Rev.Fr.Charles Ohuru</li>
                                <li>Deputy Headteacher:</li>
                                <li>Director of Studies</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="fbox" style="border-right: 1px solid #fff;">
                         <h1 style="font-size: 20px; color: orange;">OB'S & OG'S Executives</h1></u>
                            <ul style="color: rgb(26, 218, 231);">
                             <li>ChairPerson: Mr Openjmungu Philliam</li>
                             <li>Vice ChairPerson: Ms Yonikane Sharon</li>
                            <li>General Secretary: Mr Mungu Jakisha Brian</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="fbox" style="border-right: 1px solid #fff;">
                         <h1 style="font-size: 20px; color: orange;">Website Developer</h1></u>
                            <ul style="color: rgb(26, 218, 231);">
                             <li>Whatsapp: +256 780148847</li>
                             <li>Contact: +256 763764365/+256 707383183</li>
                            <li>Email: rwothongeojulius052@gmail.com</li>
                            </ul>
                        </div>
                    </div>
    
             </div>
    
         </div>
    
     </div>
    </section>

    {% endblock %}
    
</body>
</html>